<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Player Added</title>
    <link rel="stylesheet" type="css" href="styles.css">
  </head>
  <body>
    <div class="newPlayerBackground">

    <form action = "/newPlayer" method= "post">
     <input type= "text" name="name" placeholder="name">
     <input type= "text" name="faction" placeholder="faction">
     <input type= "text" name="origin" placeholder="origin">
     <input type= "boolean" name="channeler" placeholder="channeler">
     <input type= "text" name="skills" placeholder="skills">

     <input type="submit" name="" value="Create New Charachter">
    </form>

    </div>

  </body>
</html>
